body {
    background: #eae8e5;
}

.form-group {
    margin-bottom: 5px;
}

label {
    font-weight: bold;
}

textarea {
    resize: vertical;
}

form {
    background: #F9F9F9;
}

.container {
    margin-top: 20px;
}

.adder .btn {
    width: 100%;
    margin-top: 10px;
}


/* CSS for box-shadow hover effect */
.card {
    transition: box-shadow 0.3s; /* Add transition for smooth effect */
    margin-top: 20px;
}

.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Box-shadow effect on hover */
}

h6 {
    color: blue;
    font-size: 20px;
}

.updated-time {
    color: #888B95;
    font-weight: bold;
}

.card .card-title {
    background: green;
    padding: 15px;
    color: white;
}

.my-icons {
    font-size: 25px;
    cursor: pointer;
    margin-top: 6px;
}

.add-card a, .my-icons a {
    text-decoration: none;
}

.my-icons i {
    margin-right: 5px;
}

.my-icons .fa-pen-to-square {
    color: blue;
}

.my-icons .fa-trash {
    color: red;
}

.my-icons .fa-circle-check {
    color: green;
}

.stars .fa-star {
    color: darkgoldenrod;
}

.filters a {
    text-decoration: none;
}

.add-card {
    border: 2px solid black;
    /* Additional styling if needed */
    padding: 100px 10%;
    margin-top: 40px;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 17%;
    transition: all 0.3s ease;
}

.add-card i{

    font-size: 100px; /* Set the font size of the icon */
    /* Additional styling if needed */
}

.add-card:hover {
    background: #888B95;
    color: #eae8e5;
    border: 2px solid red;
}

.myPage {
    width: 10%;
    margin: 0 auto;
}