<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:replace="/base::bootstrapCssFragment">
    <link th:replace="/base::cssFragment">
    <link th:replace="/base::fontAwesomeFragment">
</head>

<body>
<nav th:fragment="my-nav" class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand active" th:href="@{/}">Todo App</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a data-bs-toggle="modal" data-bs-target="#exampleModal" class="nav-link active" aria-current="page" href="#">Add Todo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/show-todos}">Show Todos</a>
                </li>
            </ul>

            <!-- Search bar and button -->
            <form class="d-flex" th:action="@{'/show-todos/queries'}" method="get">
                <input class="form-control me-0" style="outline: none;" name="query" type="search" placeholder="Search Title or Description ... " aria-label="Search">
                <button class="btn btn-warning" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>


<!-- Modal -->
<div th:fragment="my-modal" class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Todo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <form novalidate="novalidate" th:object="${todo}" th:action="@{/add-todo}" method="post">
                        <div class="form-group mb-3">
                            <label for="title">Title</label>
                            <input id="title" type="text" th:value="${todo.title}" class="form-control" name="title" placeholder="Enter title.." required />
                        </div>
                        <div class="form-group">
                            <label for="description">Description</label>
                            <textarea id="description" class="form-control" name="description" th:text="${todo.description}" placeholder="Enter description..." maxlength="1000" required rows="9"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="status">Status</label>
                            <select class="form-control" name="status" id="status" required>
                                <option value="Pending">Pending</option>
                                <option value="In Progress">In Progress</option>
                                <option value="Completed">Completed</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="priority">Priority</label>
                            <select class="form-control" name="priority" id="priority" required>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>
                        <div class="container text-center my-5 adder">
                            <button type="submit" class="btn btn-success">Add</button>
                            <button type="reset" class="btn btn-danger">Reset</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row row-cols-1 row-cols-md-4 g-4 text-center">
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title" style="background-color: #6B747D;">
                        All Todos
                    </h2>
                    <h4 th:text="${pending + inProgress + completed}">
                        100 All Todos
                    </h4>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title" style="background-color: #3A33FF;">
                        Pending
                    </h2>
                    <h4 th:text="${pending}">
                        100 Pending
                    </h4>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title" style="background-color: #009257;">
                        In Progress
                    </h2>
                    <h4 th:text="${inProgress}">
                        100 In Progress
                    </h4>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title" style="background-color: #F10034;">
                        Completed
                    </h2>
                    <h4 th:text="${completed}">
                        100 Completed
                    </h4>
                </div>
            </div>
        </div>
    </div>
</div>

<section th:replace="/base::jsFragment"></section>

</body>

</html>
