<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link th:replace="/base::bootstrapCssFragment">
    <link th:replace="/base::cssFragment">
    <link th:replace="/base::fontAwesomeFragment">
    <link rel="stylesheet" href="../static/css/add-card.css">
</head>
<body>

<section th:replace="/index::my-nav"></section>
<div class="container-fluid mt-5">
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8 text-center">
            <div th:if="${msg}" th:classappend="${msg.type}" class="alert" role="alert">
                <p th:text="${msg.content}"></p>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<section th:replace="/index::my-modal"></section>
<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8 text-center">
            <div class="filters">
                <a th:href="@{'/show-todos'}">
                    <button type="button" class="btn btn-secondary">All Todos</button>
                </a>
                <a th:href="@{'/show-todos?status=Pending'}">
                    <button type="button" class="btn btn-primary">Pending</button>
                </a>
                <a th:href="@{'/show-todos?status=In Progress'}">
                    <button type="button" class="btn btn-success">In Progress</button>
                </a>
                <a th:href="@{'/show-todos?status=Completed'}">
                    <button type="button" class="btn btn-danger">Completed</button>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="container mt-3">
    <div class="row row-cols-1 row-cols-md-3 g-4 text-center">
        <!-- Iterate over todos and print each one -->
        <div th:each="myTodo, iterStat : ${todos}">
            <div class="card h-100">
                <div class="card-body">
                    <div class="card-body">
                        <h5 class="card-title"
                            th:text="${#strings.substring(myTodo.title, 0, T(java.lang.Math).min(#strings.length(myTodo.title), 10))} + '...'"
                            th:style="${myTodo.status eq 'Completed'} ? 'background-color: #BC3F3B;'
                        : (${myTodo.status eq 'In Progress'} ? 'background-color: green;'
                        : (${myTodo.status eq 'Pending'} ? 'background-color: #0B5ED7;' : ''))">
                            Card title
                        </h5>
                    </div>
                    <h4 class="card-text" th:text="${#strings.substring(myTodo.description, 0, T(java.lang.Math).min(#strings.length(myTodo.description), 30))} + '...'">Description</h4>

                    <h6 class="card-text" th:text="${myTodo.status}">This is Status</h6>
                    <p class="updated-time">
                        Last Updated:
                        <span th:text="${formattedDate.getContent()[__${iterStat.index}__]}"></span>
                    </p>
                    <div class="stars">
                        <!-- Convert todo.priority to int and loop to display stars -->
                        <span th:each="starNumber : ${#numbers.sequence(1, myTodo.priority)}">
                        <i class="fa-solid fa-star"></i>
                    </span>
                    </div>
                    <div class="my-icons">
                        <a href="#" th:attr="onclick='fillModalFields(\'' + ${myTodo.id} + '\',\'' + ${myTodo.title} + '\',\'' + ${myTodo.description} + '\',\'' + ${myTodo.status} + '\',\'' + ${myTodo.priority} + '\')'">
                            <i class="fa-solid fa-pen-to-square" data-bs-toggle="modal" data-bs-target="#exampleUpdateModal"></i>
                        </a>
                        <a th:href="@{ '/soft-delete-todo?id='+ ${myTodo.id} }">
                            <i class="fa-solid fa-trash"></i>
                        </a>
                        <a th:href="@{'/mark-as-completed?id=' + ${myTodo.id} }">
                            <i class="fa-solid fa-circle-check"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="add-card" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <i class="fa-solid fa-plus"></i>
        </div>
    </div>
</div>

<div class="container myPage">
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8">
            <div class="d-flex justify-content-center">
                <nav aria-label="Page Navigation Example" th:fragment="my_product_page">
                    <ul class="pagination">
                        <li th:classappend="${currentTodoPage == 1} ? 'disabled' : ''" class="page-item">
                            <a class="page-link" th:if="${status != null}" th:href="@{'/show-todos?status=' + ${status} + '&page=' + ${currentTodoPage - 1}}">Prev</a>
                            <a class="page-link" th:if="${status == null}" th:href="@{'/show-todos?page=' + ${currentTodoPage - 1}}">Prev</a>
                        </li>

                        <li th:each="i : ${#numbers.sequence(1, totalTodoPages)}" th:classappend="${currentTodoPage == i} ? 'active' : ''" class="page-item">
                            <a class="page-link" th:if="${status != null}" th:href="@{'/show-todos?status=' + ${status} + '&page=' + ${i}}"><span th:text="${i}"></span></a>
                            <a class="page-link" th:if="${status == null}" th:href="@{'/show-todos?page=' + ${i}}"><span th:text="${i}"></span></a>
                        </li>

                        <li th:classappend="${currentTodoPage == totalTodoPages} ? 'disabled' : ''" class="page-item">
                            <a class="page-link" th:if="${status != null}" th:href="@{'/show-todos?status=' + ${status} + '&page=' + ${currentTodoPage + 1}}">Next</a>
                            <a class="page-link" th:if="${status == null}" th:href="@{'/show-todos?page=' + ${currentTodoPage + 1}}">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>

<div th:fragment="my-update-modal" class="modal fade" id="exampleUpdateModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Todo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <form novalidate="novalidate" th:action="@{/update-todo}" method="post">
                        <input type="hidden" id="todoId" name="id" />
                        <div class="form-group mb-3">
                            <label for="title2">Title</label>
                            <input id="title2" type="text" class="form-control" name="title" placeholder="Enter title.." required />
                        </div>
                        <div class="form-group">
                            <label for="description2">Description</label>
                            <textarea id="description2" class="form-control" name="description" placeholder="Enter description..." maxlength="1000" required rows="9"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="status2">Status</label>
                            <select class="form-control" name="status" id="status2" required>
                                <option value="Pending">Pending</option>
                                <option value="In Progress">In Progress</option>
                                <option value="Completed">Completed</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="priority2">Priority</label>
                            <select class="form-control" name="priority" id="priority2" required>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>
                        <div class="container text-center my-5 adder">
                            <button type="submit" class="btn btn-success">Update</button>
                            <button type="reset" class="btn btn-danger">Reset</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function fillModalFields(id, title, description, status, priority) {
        document.getElementById('todoId').value = id;
        document.getElementById('title2').value = title;
        document.getElementById('description2').textContent = description;
        document.getElementById('status2').value = status;
        document.getElementById('priority2').value = priority;

        //const formAction = "/update-todo?id=" + id;
        //document.querySelector('form').setAttribute('th:action', formAction);

        console.log(`${id}, ${title}, ${description}, ${status}, ${priority}`);
    }
</script>

<section th:replace="/base::jsFragment"></section>

</body>
</html>
