<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:replace="/base::bootstrapCssFragment">
    <link th:replace="/base::cssFragment">
    <link th:replace="/base::fontAwesomeFragment">


</head>
<body>

<section th:replace="/index::my-nav"></section>


<!-- Modal -->
<section th:replace="/index::my-modal"></section>

<div class="row row-cols-1 row-cols-md-3 g-4 text-center">
    <!-- Iterate over todos and print each one -->
    <div class="col" th:each="todo : ${todos}">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" th:text="${todo.title}">Card title</h5>
                <p class="card-text" th:text="${todo.description}">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <div class="my-icons">
                    <i class="fa-solid fa-pen-to-square"></i>
                    <i class="fa-solid fa-trash"></i>
                    <i class="fa-solid fa-circle-check"></i>
                </div>
            </div>
        </div>
    </div>
</div>

<section th:replace="/base::jsFragment"></section>

</body>
</html>